#%RAML 0.8
---
title: streaming API
baseUri: http://api.7digital.com/1.2
version: 1
securedBy: [consumer_key]

securitySchemes:
  - consumer_key:
      description: API key only
      type: x-OAuth-open
      describedBy:
        queryParameters:
          oauth_consumer_key:            
            example: YOUR_KEY_HERE
            description: |
              Your 7digital API key
  - oauth_1_0:
      description: OAuth 1.0
      type: OAuth 1.0
      describedBy:
        headers:
          Authorization:
            description: |
              Used to send a valid OAuth access token. Do not use with the "oauth_access_token" query string parameter.
            type: string
        queryParameters:
          oauth_consumer_key:
            description: |
              Your 7digital API key
      settings:
        requestTokenUri: https://api.7digital.com
        authorizationUri: https://account.7digital.com
        tokenCredentialsUri: https://api.7digital.com

/status:

  get:
    description: |
            This method returns the current server time.
    securedBy: [oauth_1_0]
    queryParameters:
      country:
        type: string
        required: true
        description: |
                Two-letter country code.


    responses:
      200:
        body:
          application/xml:
            example: |
              <response status="ok" version="1.2">
                <serviceStatus>
                  <serverTime>2012-02-08T15:46:06Z</serverTime>
                </serviceStatus>
              </response>
/artist/browse:

  get:
    description: |
            This method returns a list of artists from the 7digital catalogue whose names match the start letter(s) supplied.
    queryParameters:
      letter:
        type: string
        required: true
        description: |
                The first letter(s) of the artist name to browse.


    responses:
      200:
        body:
          application/xml:
            example: |
              <response status="ok" version="1.2">
                <artists>
                  <page>1</page>
                  <pageSize>10</pageSize>
                  <totalItems>3256</totalItems>
                  <artist id="144641">
                    <name>P J Harvey</name>
                    <url>http://www.7digital.com/artists/p-j-harvey/?partner=1401</url>
                    <sortName>P J Harvey</sortName>
                    <image>http://artwork-cdn.7static.com/static/img/artistimages/00/001/446/0000144641_50.jpg</image>
                  </artist>
                  <artist id="17168">
                    <name>P J Proby</name>
                     ...
                  </artist>
                   ...
                </artists>
              </response>
          application/json:
            example: |  
              {
                  "status": "ok",
                  "version": "1.2",
                  "artists": {
                      "page": 1,
                      "pageSize": 10,
                      "totalItems": 23817,
                      "artist": [
                          {
                              "id": 314018,
                              "name": "P & P",
                              "sortName": "P & P",
                              "url": "http://www.7digital.com/artist/p-and-p/?partner=1401",
                              "image": "http://artwork-cdn.7static.com/static/img/artistimages/00/003/140/0000314018_150.jpg",
                              "popularity": 0.29
                          },
                          ...
                      ]
                  }
              }
/artist/chart:

  get:
    description: |
            This method returns a chart of the most purchased artists for given period. To retrieve the most recent charts as published on 7digital.com period and toDate parameter should be omitted (the default values will be used).
    queryParameters:
      period:
        enum: [test]
        required: false
        description: |
                The time period for which the chart is generated. Default value is a week.
      toDate:
        type: date
        required: false
        description: |
                The last day the chart should include data for. If not provided, by default the most recent chart for requested period will be returned.


    responses:
      200:
        body:
          application/xml:
            example: |
              <response status="ok" version="1.2">
              	<chart>
              		<page>1</page>
              		<pageSize>2</pageSize>
              		<totalItems>100</totalItems>
              		<type>artist</type>
              		<fromDate>2013-11-25T00:00:00+00:00</fromDate>
              		<toDate>2013-12-01T00:00:00+00:00</toDate>
              		<chartItem>
              			<position>1</position>
              			<change>New</change>
              			<artist id="276">
              				<name>McFly</name>
              				<url>http://www.7digital.com/artist/mcfly/?partner=1401</url>
              			</artist>
              		</chartItem>
              		<chartItem>
              			<position>2</position>
              			<change>New</change>
              			<artist id="386">
              				<name>Robbie Williams</name>
              				<url>http://www.7digital.com/artist/robbie-williams/?partner=1401</url>
              			</artist>
              		</chartItem>
              	</chart>
              </response>
                      
          application/json:
            example: |  
              {
              	"status" : "ok",
              	"version" : "1.2",
              	"chart" : {
              		"page" : 1,
              		"pageSize" : 2,
              		"totalItems" : 100,
              		"type" : "artist",
              		"fromDate" : "2013-11-25T00:00:00+00:00",
              		"toDate" : "2013-12-01T00:00:00+00:00",
              		"chartItem" : [{
              				"position" : 1,
              				"change" : "New",
              				"artist" : {
              					"id" : 276,
              					"name" : "McFly",
              					"appearsAs" : null,
              					"url" : "http://www.7digital.com/artist/mcfly/?partner=1401"
              				}
              			}, {
              				"position" : 2,
              				"change" : "New",
              				"artist" : {
              					"id" : 386,
              					"name" : "Robbie Williams",
              					"appearsAs" : null,
              					"url" : "http://www.7digital.com/artist/robbie-williams/?partner=1401"
              				}
              			}
              		]
              	}
              }
/artist/details:

  get:
    description: |
            ; This method returns all available artist details.; 
    queryParameters:
      artistId:
        type: integer
        required: true
        description: |
                unique identifier of the artist


    responses:
      200:
        body:
          application/xml:
            example: |
              <response status="ok" version="1.2">
                <artist id="1">
                  <name>Keane</name> 
                  <sortName>Keane</sortName> 
                  <url>http://www.7digital.com/artists/keane/</url> 
                  <image>http://artwork-cdn.7static.com/static/img/artistimages/00/000/000/0000000001_150.jpg</image> 
                  <bio>
                    <text/>
                  </bio>
                </artist>
              </response>
          application/json:
            example: |  
              {
                "status": "ok",
                "version": "1.2",
                "artist": {
                  "id": 1,
                  "name": "Keane",
                  "sortName": "Keane",
                  "url": "http://www.7digital.com/artist/keane/",
                  "image": "http://artwork-cdn.7static.com/static/img/artistimages/00/000/000/0000000001_150.jpg",
                  "bio": {
                    "text": ""
                  }
                }
              }
/artist/releases:

  get:
    description: |
            This method returns a list of releases by given artist. Releases can be filtered by type.
    queryParameters:
      artistId:
        type: integer
        required: true
        description: |
                The unique identifier of the artist.
      type:
        enum: [test]
        required: false
        description: |
                Releases can be of type album, single or video. If specified, results are filtered by release type.
      streamable:
        type: boolean
        required: false
        description: |
                If provided search results will contain only releases that can/cannot be streamed
      country:
        type: string
        required: false
        description: |
                ; 2 letter ISO country code of the country whose releases you would like to search; 
      page:
        type: integer
        required: false
        description: |
                Page number of the result set. If not supplied, defaults to 1
      pageSize:
        type: integer
        required: false
        description: |
                Number of items to be returned per page. If not supplied this defaults to 10. Maximum page size is 50
      imageSize:
        type: integer
        required: false
        description: |
                ; The requested width of the image in pixels; 


    responses:
      200:
        body:
          application/xml:
            example: |
              <response status="ok" version="1.2" xsi:noNamespaceSchemaLocation="http://api.7digital.com/1.2/static/7digitalAPI.xsd">
                <releases>
                  <page>1</page>
                  <pageSize>1</pageSize>
                  <totalItems>65</totalItems>
                  <release id="2164036">
                    <title>Sovereign Light Café</title>
                    <version/>
                    <type>Single</type>
                    <barcode>8712944436549</barcode>
                    <year>2013</year>
                    <explicitContent>false</explicitContent>
                    <artist id="1">
                      <name>Keane</name>
                      <appearsAs>Keane</appearsAs>
                      <url>http://www.7digital.com/artist/keane/?partner=1401</url>
                    </artist>
                    <url>http://www.7digital.com/artist/keane/release/sovereign-light-cafe-1/?partner=1401</url>
                    <image>http://artwork-cdn.7static.com/static/img/sleeveart/00/021/640/0002164036_50.jpg</image>
                    <releaseDate>2013-01-07T00:00:00+00:00</releaseDate>
                    <price>
                      <currency code="GBP">£</currency>
                      <value>0.99</value>
                      <formattedPrice>£0.99</formattedPrice>
                      <rrp>0.00</rrp>
                      <formattedRrp>£0.00</formattedRrp>
                      <onSale>true</onSale>
                    </price>
                    <formats availableDrmFree="true">
                      <format id="17">
                        <fileFormat>MP3</fileFormat>
                        <bitRate>320</bitRate>
                        <drmFree>true</drmFree>
                      </format>
                      <format id="33">
                        <fileFormat>MP4</fileFormat>
                        <bitRate>320</bitRate>
                        <drmFree>true</drmFree>
                      </format>
                    </formats>
                    <label id="63779">
                      <name>Wall Recordings</name>
                    </label>
                    <popularity>0.3</popularity>
                    <streamingReleaseDate>3001-01-01T00:00:00+00:00</streamingReleaseDate>
                    <duration>376</duration>
                    <trackCount>1</trackCount>
                  </release>
                  ...
                </releases>
              </response>
          application/json:
            example: |  
              {
              "status": "ok",
              "version": "1.2",
              "releases": {
                  "page": 1,
                  "pageSize": 2,
                  "totalItems": 1,
                  "release": [
                      {
                          "id": 10883,
                          "title": "Stagefright",
                          "version": "",
                          "type": "Album",
                          "barcode": "803680713402",
                          "year": 2003,
                          "explicitContent": false,
                          "artist": {
                              "id": 8054,
                              "name": "October 31st",
                              "appearsAs": "October 31st",
                              "url": "http://www.7digital.com/artist/october-31st/?partner=1401"
                          },
                          "url": "http://www.7digital.com/artist/october-31st/release/stagefright/?partner=1401",
                          "image": "http://artwork-cdn.7static.com/static/img/sleeveart/00/000/108/0000010883_50.jpg",
                          "releaseDate": "2004-11-16T00:00:00+00:00",
                          "price": {
                              "currency": {
                                  "code": "GBP",
                                  "symbol": "£"
                              },
                              "value": "7.99",
                              "formattedPrice": "£7.99",
                              "rrp": "7.99",
                              "formattedRrp": "£7.99",
                              "onSale": false
                          },
                          "formats": [
                              {
                                  "id": 6,
                                  "fileFormat": "MP3",
                                  "bitRate": 192,
                                  "drmFree": true
                              },
                              {
                                  "id": 2,
                                  "fileFormat": "MP4",
                                  "bitRate": 192,
                                  "drmFree": true
                              }
                          ],
                          "label": {
                              "id": "492",
                              "name": "Crash Music"
                          },
                          "popularity": 0.28,
                          "streamingReleaseDate": "2004-11-16T00:00:00+00:00",
                          "duration": 2815,
                          "trackCount": 9
                      }
                  ]
              }
              }
/artist/search:

  get:
    description: |
            This method returns a list of artists from the 7digital catalogue that match the search query.
    queryParameters:
      q:
        type: string
        required: true
        description: |
                The search query string.
      sort:
        type: string
        required: false
        description: |
                ; Orders the returned results. Supplied as a string in the format: "{sortColumn} {sortOrder}", for example: "popularity desc" will show most popular artists first regardless of search match score. Currently you can sort by name, popularity and score. If no sort is; supplied, the default is "score desc". If no order is supplied the default is ascending.; 
      streamable:
        type: boolean
        required: false
        description: |
                If provided search results will contain only artists that can/cannot be streamed
      country:
        type: string
        required: false
        description: |
                ; 2 letter ISO country code of the country whose artists you would like to search; 
      page:
        type: integer
        required: false
        description: |
                Page number of the result set. If not supplied, defaults to 1
      pageSize:
        type: integer
        required: false
        description: |
                Number of items to be returned per page. If not supplied this defaults to 10. Maximum page size is 50
      imageSize:
        type: integer
        required: false
        description: |
                ; The requested width of the image in pixels; 


    responses:
      200:
        body:
          application/xml:
            example: |
              <response status="ok" version="1.2">
              	<searchResults>
              		<page>1</page>
              		<pageSize>2</pageSize>
              		<totalItems>303</totalItems>
              		<searchResult>
              			<type>artist</type>
              			<score>9.148376</score>
              			<artist id="226">
              				<name>Pink</name>
              				<sortName>Pink</sortName>
              				<url>http://www.7digital.com/artist/pink/?partner=1401</url>
              				<image>http://artwork-cdn.7static.com/static/img/artistimages/00/000/002/0000000226_150.jpg</image>
              				<popularity>0.8</popularity>
              			</artist>
              		</searchResult>
              		<searchResult>
              			<type>artist</type>
              			<score>5.738292</score>
              			<artist id="1471729">
              				<name>Pink Haze</name>
              				<sortName>Pink Haze</sortName>
              				<url>http://www.7digital.com/artist/pink-haze/?partner=1401</url>
              				<image>http://artwork-cdn.7static.com/static/img/artistimages/00/014/717/0001471729_150.jpg</image>
              				<popularity>0.28</popularity>
              			</artist>
              		</searchResult>
              	</searchResults>
              </response>
                      
          application/json:
            example: |  
              {
                  "status": "ok",
                  "version": "1.2",
                  "searchResults": {
                      "page": 1,
                      "pageSize": 2,
                      "totalItems": 244,
                      "searchResult": [
                          {
                              "type": "artist",
                              "score": 9.164859,
                              "artist": {
                                  "id": 226,
                                  "name": "Pink",
                                  "sortName": "Pink",
                                  "url": "http://www.7digital.com/artist/pink/?partner=1401",
                                  "image": "http://artwork-cdn.7static.com/static/img/artistimages/00/000/002/0000000226_150.jpg",
                                  "popularity": 0.79
                              }
                          },
                         ...
                      ]
                  }
              }
/artist/toptracks:

  get:
    description: |
            This method returns a list of the most popular tracks by artist.
    queryParameters:
      artistId:
        type: integer
        required: true
        description: |
                The unique identifier of the artist.
      streamable:
        type: boolean
        required: false
        description: |
                If provided search results will contain only artists that can/cannot be streamed
      country:
        type: string
        required: false
        description: |
                ; 2 letter ISO country code of the country whose artists you would like to search; 
      page:
        type: integer
        required: false
        description: |
                Page number of the result set. If not supplied, defaults to 1
      pageSize:
        type: integer
        required: false
        description: |
                Number of items to be returned per page. If not supplied this defaults to 10. Maximum page size is 50
      imageSize:
        type: integer
        required: false
        description: |
                ; The requested width of the image in pixels; 


    responses:
      200:
        body:
          application/xml:
            example: |
              <response status="ok" version="1.2">
                <tracks>
                  <page>1</page>
                  <pageSize>2</pageSize>
                  <totalItems>100</totalItems>
                  <track id="6944484">
                    <title>Somewhere Only We Know</title>
                    <version />
                    <artist id="1">
                      <name>Keane</name>
                      <appearsAs>Keane</appearsAs>
                      <url>http://www.7digital.com/artist/keane/?partner=1401</url>
                    </artist>
                    <duration>238</duration>
                    <explicitContent>false</explicitContent>
                    <isrc>GBAAN0300664</isrc>
                    <type>audio</type>
                    <release id="625642">
                      <title>Hopes and Fears</title>
                      <version>Deluxe Edition</version>
                      <type>Album</type>
                      <barcode>00600753225530</barcode>
                      <artist id="1">
                        <name>Keane</name>
                        <appearsAs>Keane</appearsAs>
                        <url>http://www.7digital.com/artist/keane/?partner=1401</url>
                      </artist>
                      <url>http://www.7digital.com/artist/keane/release/hopes-and-fears-3-1/?partner=1401</url>
                      <image>http://artwork-cdn.7static.com/static/img/sleeveart/00/006/256/0000625642_50.jpg</image>
                      <releaseDate>2009-11-09T00:00:00Z</releaseDate>
                      <formats availableDrmFree="true">
                        <format id="17">
                          <fileFormat>MP3</fileFormat>
                          <bitRate>320</bitRate>
                          <drmFree>true</drmFree>
                        </format>
                      </formats>
                    </release>
                    <url>http://www.7digital.com/artist/keane/release/hopes-and-fears-3-1/?partner=1401&amp;h=01</url>
                    <price>
                      <currency code="GBP">£</currency>
                      <value>0.99</value>
                      <formattedPrice>£0.99</formattedPrice>
                      <rrp>0.99</rrp>
                      <formattedRrp>£0.99</formattedRrp>
                      <onSale>false</onSale>
                    </price>
                    <streamingReleaseDate>2009-11-09T00:00:00Z</streamingReleaseDate>
                    <discNumber>1</discNumber>
                    <popularity>0.66</popularity>
                    <number>1</number>
                  </track>
                  <track id="6944493">
                    <title>Everybody's Changing</title>
                    <version />
                    <artist id="1">
                      <name>Keane</name>
                      <appearsAs>Keane</appearsAs>
                      <url>http://www.7digital.com/artist/keane/?partner=1401</url>
                    </artist>
                    <duration>217</duration>
                    <explicitContent>false</explicitContent>
                    <isrc>GBAAN0400092</isrc>
                    <type>audio</type>
                    <release id="625642">
                      <title>Hopes and Fears</title>
                      <version>Deluxe Edition</version>
                      <type>Album</type>
                      <barcode>00600753225530</barcode>
                      <artist id="1">
                        <name>Keane</name>
                        <appearsAs>Keane</appearsAs>
                        <url>http://www.7digital.com/artist/keane/?partner=1401</url>
                      </artist>
                      <url>http://www.7digital.com/artist/keane/release/hopes-and-fears-3-1/?partner=1401</url>
                      <image>http://artwork-cdn.7static.com/static/img/sleeveart/00/006/256/0000625642_50.jpg</image>
                      <releaseDate>2009-11-09T00:00:00Z</releaseDate>
                      <formats availableDrmFree="true">
                        <format id="17">
                          <fileFormat>MP3</fileFormat>
                          <bitRate>320</bitRate>
                          <drmFree>true</drmFree>
                        </format>
                      </formats>
                    </release>
                    <url>http://www.7digital.com/artist/keane/release/hopes-and-fears-3-1/?partner=1401&amp;h=04</url>
                    <price>
                      <currency code="GBP">£</currency>
                      <value>0.99</value>
                      <formattedPrice>£0.99</formattedPrice>
                      <rrp>0.99</rrp>
                      <formattedRrp>£0.99</formattedRrp>
                      <onSale>false</onSale>
                    </price>
                    <streamingReleaseDate>2009-11-09T00:00:00Z</streamingReleaseDate>
                    <discNumber>1</discNumber>
                    <popularity>0.59</popularity>
                    <number>4</number>
                  </track>
                </tracks>
              </response>
                      
/artist/similar:

  get:
    description: |
            This method returns a list of artists similar to given artist.
    queryParameters:
      artistId:
        type: integer
        required: true
        description: |
                The unique identifier of the artist.
      pagesize:
        type: integer
        required: false
        description: |
                Number of items to be returned per page. If not supplied this defaults to 10. Maximum page size is 50
      page:
        type: integer
        required: false
        description: |
                sets the page to be returned in paged list of the customers releases and tracks, by default this is the first page. page=1
      country:
        type: string
        required: false
        description: |
                The code of the country the end user resides in. The country will default to GB if not provided.; 


    responses:
      200:
        body:
          application/xml:
            example: |
              <?xml version="1.0" encoding="utf-8" ?>
              <response status="ok" version="1.2">
                <artists>
                  <page>1</page>
                  <pageSize>10</pageSize>
                  <totalItems>28</totalItems>
                  <artist id="14">
                    <name>The Charlatans</name>
                    <sortName>Charlatans, The</sortName>
                    <url>http://www.7digital.com/artists/the-charlatans/?partner=1401</url>
                    <image>http://artwork-cdn.7static.com/static/img/artistimages/00/000/000/0000000014_150.jpg</image>
                  </artist>
                  <artist id="20">
                    <name>Coldplay</name>
                    <sortName>Coldplay</sortName>
                    <url>http://www.7digital.com/artists/coldplay/?partner=1401</url>
                    <image>http://artwork-cdn.7static.com/static/img/artistimages/00/000/000/0000000020_150.jpg</image>
                  </artist>
                  ...
                </artists>
              </response>
          application/json:
            example: |  
              {
                "status": "ok",
                "version": "1.2",
                "artists": {
                  "page": 1,
                  "pageSize": 10,
                  "totalItems": 29,
                  "artist": [
                    {
                      "id": 14,
                      "name": "The Charlatans",
                      "sortName": "Charlatans, The",
                      "url": "http://www.7digital.com/artist/the-charlatans/",
                      "image": "http://artwork-cdn.7static.com/static/img/artistimages/00/000/000/0000000014_150.jpg"
                    },
                    {
                      "id": 20,
                      "name": "Coldplay",
                      "sortName": "Coldplay",
                      "url": "http://www.7digital.com/artist/coldplay/",
                      "image": "http://artwork-cdn.7static.com/static/img/artistimages/00/000/000/0000000020_150.jpg"
                    },
                    {
                      "id": 102,
                      "name": "Ocean Colour Scene",
                      "sortName": "Ocean Colour Scene",
                      "url": "http://www.7digital.com/artist/ocean-colour-scene/",
                      "image": "http://artwork-cdn.7static.com/static/img/artistimages/00/000/001/0000000102_150.jpg"
                    }]}}
/release/bydate:

  get:
    description: |
            Returns all releases that have a release date between two specified dates. If either the start date (fromDate) or end date (toDate) are omitted from the request, then the current day's date is used instead. Results are sorted by popularity descending.
    queryParameters:
      fromDate:
        type: date
        required: false
        description: |
                All releases in the response will have a release date equal to or after this date. If omitted, this value defaults to today's date.
      toDate:
        type: date
        required: false
        description: |
                All releases in the response will have a release date before, or equal to this date. If omitted, this value defaults to today's date.


    responses:
      200:
        body:
          application/xml:
            example: |
              <?xml version="1.0" encoding="utf-8" ?>
              <response status="ok" version="1.2" xsi:noNamespaceSchemaLocation="http://api.7digital.com/1.2/static/7digitalAPI.xsd">
              <releases>
                <page>1</page>
                <pageSize>2</pageSize>
                <totalItems>5000</totalItems>
                <release id="324755">
              	<title>A Hundred Million Suns</title>
              	<version>UK Standard Version [Explicit]</version>
              	<type>Album</type>
              	<barcode>00602517852594</barcode>
              	<year>2014</year>
              	<explicitContent>true</explicitContent>
              	<artist id="269">
              		<name>Snow Patrol</name>
              		<appearsAs>Snow Patrol</appearsAs>
              		<url>http://www.7digital.com/artist/snow-patrol/?partner=1401</url>
              	</artist>
              	<url>http://www.7digital.com/artist/snow-patrol/release/a-hundred-million-suns/?partner=1401</url>
              	<image>http://artwork-cdn.7static.com/static/img/sleeveart/00/003/247/0000324755_50.jpg</image>
              	<releaseDate>2014-05-22T00:00:00Z</releaseDate>
              	<addedDate>2008-10-08T16:31:43Z</addedDate>
              	<price>
              		<currency code="GBP">£</currency>
              		<value>8.99</value>
              		<formattedPrice>£8.99</formattedPrice>
              		<rrp>8.99</rrp>
              		<formattedRrp>£8.99</formattedRrp>
              		<onSale>false</onSale>
              	</price>
              	<formats availableDrmFree="true">
              		<format id="17">
              			<fileFormat>MP3</fileFormat>
              			<bitRate>320</bitRate>
              			<drmFree>true</drmFree>
              		</format>
              	</formats>
              	<label id="20348">
              		<name>Universal Music GmbH</name>
              	</label>
              	<licensor id="1">
              		<name>Universal</name>
              	</licensor>
              	<popularity>0.6</popularity>
              	<streamingReleaseDate>2014-05-22T00:00:00Z</streamingReleaseDate>
              	<duration>3484</duration>
              	<trackCount>11</trackCount>
              </release>
              <release id="135655">
              	<title>Greatest Hits</title>
              	<version/>
              	<type>Album</type>
              	<barcode>093624929161</barcode>
              	<year>2004</year>
              	<explicitContent>false</explicitContent>
              	<artist id="915">
              		<name>Neil Young</name>
              		<appearsAs>Neil Young</appearsAs>
              		<url>http://www.7digital.com/artist/neil-young/?partner=1401</url>
              	</artist>
              	<url>http://www.7digital.com/artist/neil-young/release/greatest-hits-2/?partner=1401</url>
              	<image>http://artwork-cdn.7static.com/static/img/sleeveart/00/001/356/0000135655_50.jpg</image>
              	<releaseDate>2014-05-21T00:00:00Z</releaseDate>
              	<addedDate>2008-03-03T14:15:09Z</addedDate>
              	<price>
              		<currency code="GBP">£</currency>
              		<value>5.49</value>
              		<formattedPrice>£5.49</formattedPrice>
              		<rrp>5.49</rrp>
              		<formattedRrp>£5.49</formattedRrp>
              		<onSale>false</onSale>
              	</price>
              	<formats availableDrmFree="true">
              		<format id="48">
              			<fileFormat>MP3</fileFormat>
              			<bitRate>256</bitRate>
              			<drmFree>true</drmFree>
              		</format>
              	</formats>
              	<label id="253">
              		<name>Reprise</name>
              	</label>
              	<licensor id="18">
              		<name>Warner</name>
              	</licensor>
              	<popularity>0.56</popularity>
              	<streamingReleaseDate>2010-07-20T00:00:00Z</streamingReleaseDate>
              	<duration>4600</duration>
              	<trackCount>16</trackCount>
              </release>
              </releases>
              </response>
              
/release/chart:

  get:
    description: |
            This method returns a chart of the most purchased releases for given period. Only albums are included in this chart. To retrieve the most recent charts as published on 7digital.com period and toDate parameter should be omitted (the default values will be used).
    queryParameters:
      period:
        enum: [test]
        required: false
        description: |
                The time period for which the chart is generated. The default value is a week.
      toDate:
        type: date
        required: false
        description: |
                The last day the chart should include data for. If not provided, by default the most recent chart for requested period will be returned.
      streamable:
        type: boolean
        required: false
        description: |
                If provided search results will contain only releases that can/cannot be streamed
      country:
        type: string
        required: false
        description: |
                ; 2 letter ISO country code of the country whose releases you would like to view; 
      page:
        type: integer
        required: false
        description: |
                Page number of the result set. If not supplied, defaults to 1
      pageSize:
        type: integer
        required: false
        description: |
                Number of items to be returned per page. If not supplied this defaults to 10. Maximum page size is 50
      imageSize:
        type: integer
        required: false
        description: |
                ; The requested width of the image in pixels; 


    responses:
      200:
        body:
          application/xml:
            example: |
              <response status="ok" version="1.2" xsi:noNamespaceSchemaLocation="http://api.7digital.com/1.2/static/7digitalAPI.xsd">
                <chart>
                  <page>1</page>
                  <pageSize>2</pageSize>
                  <totalItems>92</totalItems>
                  <type>album</type>
                  <fromDate>2012-08-01T00:00:00+01:00</fromDate>
                  <toDate>2012-08-01T00:00:00+01:00</toDate>
                  <chartItem>
                    <position>1</position>
                    <change>New</change>
                    <release id="1815792">
                      <title>Now That's What I Call Music! 82</title>
                      <version/>
                      <type>Album</type>
                      <barcode>5099970571950</barcode>
                      <year>2012</year>
                      <explicitContent>false</explicitContent>
                      <artist id="209">
                        <name>Various Artists</name>
                        <appearsAs>Various Artists</appearsAs>
                        <url>http://www.7digital.com/artist/various-artists/?partner=1401</url>
                      </artist>
                      <url>http://www.7digital.com/artist/various-artists/release/now-thats-what-i-call-music-82/?partner=1401</url>
                      <image>http://artwork-cdn.7static.com/static/img/sleeveart/00/018/157/0001815792_50.jpg</image>
                      <releaseDate>2012-07-23T00:00:00+01:00</releaseDate>
                      <price>
                        <currency code="GBP">£</currency>
                        <value>10.99</value>
                        <formattedPrice>£10.99</formattedPrice>
                        <rrp>10.99</rrp>
                        <formattedRrp>£10.99</formattedRrp>
                        <onSale>false</onSale>
                      </price>
                      <formats availableDrmFree="true">
                        <format id="17">
                          <fileFormat>MP3</fileFormat>
                          <bitRate>320</bitRate>
                          <drmFree>true</drmFree>
                        </format>
                      </formats>
                      <streamingReleaseDate>3001-01-01T00:00:00+00:00</streamingReleaseDate>
                      <duration>9442</duration>
                      <trackCount>44</trackCount>
                    </release>
                  </chartItem>
                  ...
                </chart>
              </response>
          application/json:
            example: |  
              {
              "status": "ok",
              "version": "1.2",
              "chart": {
                  "page": 1,
                  "pageSize": 2,
                  "totalItems": 92,
                  "type": "album",
                  "fromDate": "2012-08-01T00:00:00+01:00",
                  "toDate": "2012-08-01T00:00:00+01:00",
                  "chartItem": [
                      {
                          "position": 1,
                          "change": "New",
                          "release": {
                              "id": 1815792,
                              "title": "Now That's What I Call Music! 82",
                              "version": "",
                              "type": "Album",
                              "barcode": "5099970571950",
                              "year": 2012,
                              "explicitContent": false,
                              "artist": {
                                  "id": 209,
                                  "name": "Various Artists",
                                  "appearsAs": "Various Artists",
                                  "url": "http://www.7digital.com/artist/various-artists/?partner=1401"
                              },
                              "url": "http://www.7digital.com/artist/various-artists/release/now-thats-what-i-call-music-82/?partner=1401",
                              "image": "http://artwork-cdn.7static.com/static/img/sleeveart/00/018/157/0001815792_50.jpg",
                              "releaseDate": "2012-07-23T00:00:00+01:00",
                              "price": {
                                  "currency": {
                                      "code": "GBP",
                                      "symbol": "£"
                                  },
                                  "value": "10.99",
                                  "formattedPrice": "£10.99",
                                  "rrp": "10.99",
                                  "formattedRrp": "£10.99",
                                  "onSale": false
                              },
                              "formats": [
                                  {
                                      "id": 17,
                                      "fileFormat": "MP3",
                                      "bitRate": 320,
                                      "drmFree": true
                                  }
                              ],
                              "streamingReleaseDate": "3001-01-01T00:00:00+00:00",
                              "duration": 9442,
                              "trackCount": 44
                          }
                      },
                      ...
                  ]
              }
              }
/release/details:

  get:
    description: |
            This method returns all available details for a given release.
    queryParameters:
      releaseId:
        type: integer
        required: true
        description: |
                The unique identifier of the release.
      country:
        type: string
        required: false
        description: |
                2 letter ISO country code of the country whose releases you would like to view
      imageSize:
        type: integer
        required: false
        description: |
                The requested width of the image in pixels


    responses:
      200:
        body:
          application/xml:
            example: |
              <response status="ok" version="1.2" >
                <release id="1046">
                  <title>No Surprises</title>
                  <version/>
                  <type>Single</type>
                  <barcode>0724388514453</barcode>
                  <year>2003</year>
                  <explicitContent>false</explicitContent>
                  <artist id="304">
                    <name>Radiohead</name>
                    <appearsAs>Radiohead</appearsAs>
                    <url>http://www.7digital.com/artist/radiohead/?partner=1401</url>
                  </artist>
                  <url>http://www.7digital.com/artist/radiohead/release/no-surprises/?partner=1401</url>
                  <image>http://artwork-cdn.7static.com/static/img/sleeveart/00/000/010/0000001046_50.jpg</image>
                  <releaseDate>2003-03-01T00:00:00Z</releaseDate>
                  <addedDate>2007-08-17T17:54:23Z</addedDate>
                  <price>
                    <currency code="GBP">£</currency>
                    <value>2.97</value>
                    <formattedPrice>£2.97</formattedPrice>
                    <rrp>2.97</rrp>
                    <formattedRrp>£2.97</formattedRrp>
                    <onSale>false</onSale>
                  </price>
                  <formats availableDrmFree="true">
                    <format id="17">
                      <fileFormat>MP3</fileFormat>
                      <bitRate>320</bitRate>
                      <drmFree>true</drmFree>
                    </format>
                  </formats>
                  <label id="227575">
                    <name>Parlophone UK</name>
                  </label>
                  <licensor id="18">
                    <name>Warner</name>
                  </licensor>
                  <popularity>0</popularity>
                  <streamingReleaseDate>2003-03-01T00:00:00Z</streamingReleaseDate>
                  <duration>642</duration>
                  <trackCount>3</trackCount>
                </release>
              </response>
          application/json:
            example: |  
              {
                "status": "ok",
                "version": "1.2",
                "release": {
                    "id": 1046,
                    "title": "No Surprises",
                    "version": "",
                    "type": "Single",
                    "barcode": "0724388514453",
                    "year": 2003,
                    "explicitContent": false,
                    "artist": {
                        "id": 304,
                        "name": "Radiohead",
                        "appearsAs": "Radiohead",
                        "url": "http://www.7digital.com/artist/radiohead/?partner=1401"
                    },
                    "url": "http://www.7digital.com/artist/radiohead/release/no-surprises/?partner=1401",
                    "image": "http://artwork-cdn.7static.com/static/img/sleeveart/00/000/010/0000001046_50.jpg",
                    "releaseDate": "2003-03-01T00:00:00Z",
                    "addedDate": "2007-08-17T17:54:23Z",
                    "price": {
                        "currency": {
                            "code": "GBP",
                            "symbol": "£"
                        },
                        "value": "2.97",
                        "formattedPrice": "£2.97",
                        "rrp": "2.97",
                        "formattedRrp": "£2.97",
                        "onSale": false
                    },
                    "formats": [
                        {
                            "id": 17,
                            "fileFormat": "MP3",
                            "bitRate": 320,
                            "drmFree": true
                        }
                    ],
                    "label": {
                        "id": 227575,
                        "name": "Parlophone UK"
                    },
                    "licensor": {
                        "id": 18,
                        "name": "Warner"
                    },
                    "popularity": 0,
                    "streamingReleaseDate": "2003-03-01T00:00:00Z",
                    "duration": 642,
                    "trackCount": 3
                }
              }
/release/recommend:

  get:
    description: |
            This method returns list of recommended releases for given release or artist.
    queryParameters:
      releaseId / artistId:
        type: integer
        required: true
        description: |
                The unique identifier of the recommended release or artist. Only ONE identifier can be specified in a request.
      streamable:
        type: boolean
        required: false
        description: |
                If provided, results will contain only releases that can or cannot be streamed


    responses:
      200:
        body:
          application/xml:
            example: |
              <response status="ok" version="1.2" xsi:noNamespaceSchemaLocation="http://api.7digital.com/1.2/static/7digitalAPI.xsd">
                <recommendations>
                  <page>1</page>
                  <pageSize>2</pageSize>
                  <totalItems>10</totalItems>
                  <recommendedItem>
                    <release id="858809">
                      <title>Kissing Strangers</title>
                      <version/>
                      <type>Album</type>
                      <barcode>4250382403241</barcode>
                      <year>2010</year>
                      <explicitContent>false</explicitContent>
                      <artist id="12562">
                        <name>Phonique</name>
                        <appearsAs>Phonique</appearsAs>
                        <url>http://www.7digital.com/artist/phonique/?partner=1401</url>
                      </artist>
                      <url>http://www.7digital.com/artist/phonique/release/kissing-strangers/?partner=1401</url>
                      <image>http://artwork-cdn.7static.com/static/img/sleeveart/00/008/588/0000858809_50.jpg</image>
                      <releaseDate>2010-06-07T00:00:00Z</releaseDate>
                      <addedDate>2010-05-28T17:33:10Z</addedDate>
                      <price>
                        <currency code="GBP"/>
                        <value>7.99</value>
                        <formattedPrice>£7.99</formattedPrice>
                        <rrp>7.99</rrp>
                        <formattedRrp>£7.99</formattedRrp>
                        <onSale>false</onSale>
                      </price>
                      <formats availableDrmFree="false"/>
                      <label id="9201">
                        <name>Dessous Recordings</name>
                      </label>
                      <licensor id="68">
                        <name>Kontor</name>
                      </licensor>
                      <streamingReleaseDate xsi:nil="true"/>
                      <duration>4751</duration>
                      <trackCount>15</trackCount>
                    </release>
                  </recommendedItem>
                  <recommendedItem>
                    <release id="1193594">
                      <title>Endless Love feat. Louie Austen</title>
                      <version/>
                      <type>Single</type>
                      <barcode>4250382410713</barcode>
                      <year>2011</year>
                      <explicitContent>false</explicitContent>
                      <artist id="12562">
                        <name>Phonique</name>
                        <appearsAs>Phonique</appearsAs>
                        <url>http://www.7digital.com/artist/phonique/?partner=1401</url>
                      </artist>
                      <url>http://www.7digital.com/artist/phonique/release/endless-love-feat-louie-austen/?partner=1401</url>
                      <image>http://artwork-cdn.7static.com/static/img/sleeveart/00/011/935/0001193594_50.jpg</image>
                      <releaseDate>2011-03-25T00:00:00Z</releaseDate>
                      <addedDate>2011-03-24T16:51:04Z</addedDate>
                      <price>
                        <currency code="GBP"/>
                        <value>1.79</value>
                        <formattedPrice>£1.79</formattedPrice>
                        <rrp>1.79</rrp>
                        <formattedRrp>£1.79</formattedRrp>
                        <onSale>false</onSale>
                      </price>
                      <formats availableDrmFree="true">
                        <format id="17">
                          <fileFormat>MP3</fileFormat>
                          <bitRate>320</bitRate>
                          <drmFree>true</drmFree>
                        </format>
                        <format id="33">
                          <fileFormat>M4A</fileFormat>
                          <bitRate>320</bitRate>
                          <drmFree>true</drmFree>
                        </format>
                      </formats>
                      <label id="9201">
                        <name>Dessous Recordings</name>
                      </label>
                      <licensor id="319">
                        <name>Paradise Entertainment &amp; Distribution</name>
                      </licensor>
                      <streamingReleaseDate>2011-03-25T00:00:00Z</streamingReleaseDate>
                      <duration>1450</duration>
                      <trackCount>4</trackCount>
                    </release>
                  </recommendedItem>
                </recommendations>
              </response>
                  
/release/search:

  get:
    description: |
            This method searches the 7digital catalogue for releases matching the search query. Results can be filtered by release type.
    queryParameters:
      q:
        type: string
        required: true
        description: |
                The search query string.
      type:
        enum: [test]
        required: false
        description: |
                If specified results are filtered by given release type (multiple types separated by commas can be passed).
      streamable:
        type: boolean
        required: false
        description: |
                If provided search results will only contain releases that can/cannot be streamed
      country:
        type: string
        required: false
        description: |
                ; 2 letter ISO country code of the country whose releases you would like to search; 
      page:
        type: integer
        required: false
        description: |
                Page number of the result set. If not supplied, defaults to 1
      pageSize:
        type: integer
        required: false
        description: |
                Number of items to be returned per page. If not supplied this defaults to 10. Maximum page size is 50
      imageSize:
        type: integer
        required: false
        description: |
                ; The requested width of the image in pixels; 


    responses:
      200:
        body:
          application/xml:
            example: |
              <response status="ok" version="1.2" xsi:noNamespaceSchemaLocation="http://api.7digital.com/1.2/static/7digitalAPI.xsd">
                <searchResults>
                  <page>1</page>
                  <pageSize>2</pageSize>
                  <totalItems>19732</totalItems>
                  <searchResult>
                    <type>release</type>
                    <score>7.300968</score>
                    <release id="1046">
                      <title>No Surprises</title>
                      <version/>
                      <type>Single</type>
                      <barcode>0724388514453</barcode>
                      <year>2003</year>
                      <explicitContent>false</explicitContent>
                      <artist id="304">
                        <name>Radiohead</name>
                        <appearsAs>Radiohead</appearsAs>
                        <url>http://www.7digital.com/artist/radiohead/?partner=1401</url>
                      </artist>
                      <url>http://www.7digital.com/artist/radiohead/release/no-surprises/?partner=1401</url>
                      <image>http://artwork-cdn.7static.com/static/img/sleeveart/00/000/010/0000001046_50.jpg</image>
                      <releaseDate>2003-03-01T00:00:00+00:00</releaseDate>
                      <addedDate>2004-10-02T18:12:57+01:00</addedDate>
                      <price>
                        <currency code="GBP">£</currency>
                        <value>1.99</value>
                        <formattedPrice>£1.99</formattedPrice>
                        <rrp>1.99</rrp>
                        <formattedRrp>£1.99</formattedRrp>
                        <onSale>false</onSale>
                      </price>
                      <formats availableDrmFree="true">
                        <format id="17">
                          <fileFormat>MP3</fileFormat>
                          <bitRate>320</bitRate>
                          <drmFree>true</drmFree>
                        </format>
                      </formats>
                      <label id="77">
                        <name>EMI UK</name>
                      </label>
                      <licensor id="13">
                        <name>EMI</name>
                      </licensor>
                      <popularity>0.46</popularity>
                      <streamingReleaseDate>2003-03-01T00:00:00+00:00</streamingReleaseDate>
                      <duration>644</duration>
                      <trackCount>3</trackCount>
                    </release>
                  </searchResult>
                  ...
                </searchResults>
              </response>
          application/json:
            example: |  
              {"status": "ok",
              "version": "1.2",
              "searchResults": {
                  "page": 1,
                  "pageSize": 2,
                  "totalItems": 19732,
                  "searchResult": [
                      {
                          "type": "release",
                          "score": 7.300968,
                          "release": {
                              "id": 1046,
                              "title": "No Surprises",
                              "version": "",
                              "type": "Single",
                              "barcode": "0724388514453",
                              "year": 2003,
                              "explicitContent": false,
                              "artist": {
                                  "id": "304",
                                  "name": "Radiohead",
                                  "appearsAs": "Radiohead",
                                  "url": "http://www.7digital.com/artist/radiohead/?partner=1401"
                              },
                              "url": "http://www.7digital.com/artist/radiohead/release/no-surprises/?partner=1401",
                              "image": "http://artwork-cdn.7static.com/static/img/sleeveart/00/000/010/0000001046_50.jpg",
                              "releaseDate": "2003-03-01T00:00:00+00:00",
                              "addedDate": "2004-10-02T18:12:57+01:00",
                              "price": {
                                  "currency": {
                                      "code": "GBP",
                                      "symbol": "£"
                                  },
                                  "value": "1.99",
                                  "formattedPrice": "£1.99",
                                  "rrp": "1.99",
                                  "formattedRrp": "£1.99",
                                  "onSale": false
                              },
                              "formats": {
                                  "availableDrmFree": true,
                                  "format": [
                                      {
                                          "id": 17,
                                          "fileFormat": "MP3",
                                          "bitRate": 320,
                                          "drmFree": true,
                                          "priority": 11
                                      }
                                  ]
                              },
                              "label": {
                                  "id": "77",
                                  "name": "EMI UK"
                              },
                              "licensor": {
                                  "id": "13",
                                  "name": "EMI"
                              },
                              "popularity": 0.46,
                              "streamingReleaseDate": "2003-03-01T00:00:00+00:00",
                              "duration": 644,
                              "trackCount": 3
                          }
                      },
                      ...           
                  ]
              }}
/release/tracks:

  get:
    description: |
            This method will return a list of all tracks constituting the release.
    queryParameters:
      releaseId:
        type: integer
        required: true
        description: |
                The unique ID of the release.
      country:
        type: string
        required: false
        description: |
                ; 2 letter ISO country code of the country whose tracks you would like to search; 
      imageSize:
        type: integer
        required: false
        description: |
                ; The requested width of the image in pixels; 
      streamable:
        type: boolean
        required: false
        description: |
                If provided, results will contain only tracks that can or cannot be streamed


    responses:
      200:
        body:
          application/xml:
            example: |
              <response status="ok" version="1.2">
                <tracks>
                  <page>1</page>
                  <pageSize>3</pageSize>
                  <totalItems>3</totalItems>
                  <track id="9525">
                    <title>No Surprises</title>
                    <version />
                    <artist id="304">
                        <name>Radiohead</name>
                        <appearsAs>Radiohead</appearsAs>
                        <url>http://www.7digital.com/artist/radiohead/?partner=1401</url>
                    </artist>
                    <duration>229</duration>
                    <explicitContent>false</explicitContent>
                    <isrc>GBAYE9700386</isrc>
                    <type>audio</type>
                    <release id="1046">
                      <title>No Surprises</title>
                      <version />
                      <type>Single</type>
                      <barcode>0724388514453</barcode>
                      <artist id="304">
                        <name>Radiohead</name>
                        <appearsAs>Radiohead</appearsAs>
                        <url>http://www.7digital.com/artist/radiohead/?partner=1401</url>
                      </artist>
                      <url>http://www.7digital.com/artist/radiohead/release/no-surprises/?partner=1401</url>
                      <image>http://artwork-cdn.7static.com/static/img/sleeveart/00/000/010/0000001046_50.jpg</image>
                    </release>
                    <url>http://www.7digital.com/artist/radiohead/release/no-surprises/?partner=1401&amp;h=01</url>
                    <price>
                      <currency code="GBP">£</currency>
                      <value>0.99</value>
                      <formattedPrice>£0.99</formattedPrice>
                      <rrp>0.99</rrp>
                      <formattedRrp>£0.99</formattedRrp>
                      <onSale>false</onSale>
                    </price>
                    <streamingReleaseDate>2003-03-01T00:00:00</streamingReleaseDate>
                    <discNumber>1</discNumber>
                    <number>1</number>
                    <previewDate>1997-07-03T00:00:00Z</previewDate>
                  </track>
                  <track id="9526">
                    <title>Palo Alto</title>
                    <version />
                    <artist id="304">
                      <name>Radiohead</name>
                      <appearsAs>Radiohead</appearsAs>
                      <url>http://www.7digital.com/artist/radiohead/?partner=1401</url>
                    </artist>
                    <duration>224</duration>
                    <explicitContent>false</explicitContent>
                    <isrc>GBAYE9800042</isrc>
                    <type>audio</type>
                    <release id="1046">
                      <title>No Surprises</title>
                      <version />
                      <type>Single</type>
                      <barcode>0724388514453</barcode>
                      <artist id="304">
                        <name>Radiohead</name>
                        <appearsAs>Radiohead</appearsAs>
                        <url>http://www.7digital.com/artist/radiohead/?partner=1401</url>
                      </artist>
                      <url>http://www.7digital.com/artist/radiohead/release/no-surprises/?partner=1401</url>
                      <image>http://artwork-cdn.7static.com/static/img/sleeveart/00/000/010/0000001046_50.jpg</image>
                    </release>
                    <url>http://www.7digital.com/artist/radiohead/release/no-surprises/?partner=1401&amp;h=02</url>
                    <price>
                      <currency code="GBP">£</currency>
                      <value>0.99</value>
                      <formattedPrice>£0.99</formattedPrice>
                      <rrp>0.99</rrp>
                      <formattedRrp>£0.99</formattedRrp>
                      <onSale>false</onSale>
                    </price>
                    <streamingReleaseDate>2003-03-01T00:00:00</streamingReleaseDate>
                    <discNumber>1</discNumber>
                    <number>2</number>
                    <previewDate>1997-07-03T00:00:00Z</previewDate>
                  </track>
                  <track id="9527">
                    <title>How I Made My Millions</title>
                    <version />
                    <artist id="304">
                      <name>Radiohead</name>
                      <appearsAs>Radiohead</appearsAs>
                      <url>http://www.7digital.com/artist/radiohead/?partner=1401</url>
                    </artist>
                    <duration>189</duration>
                    <explicitContent>false</explicitContent>
                    <isrc>GBAYE9800043</isrc>
                    <type>audio</type>
                    <release id="1046">
                      <title>No Surprises</title>
                      <version />
                      <type>Single</type>
                      <barcode>0724388514453</barcode>
                      <artist id="304">
                        <name>Radiohead</name>
                        <appearsAs>Radiohead</appearsAs>
                        <url>http://www.7digital.com/artist/radiohead/?partner=1401</url>
                      </artist>
                      <url>http://www.7digital.com/artist/radiohead/release/no-surprises/?partner=1401</url>
                      <image>http://artwork-cdn.7static.com/static/img/sleeveart/00/000/010/0000001046_50.jpg</image>
                    </release>
                    <url>http://www.7digital.com/artist/radiohead/release/no-surprises/?partner=1401&amp;h=03</url>
                    <price>
                      <currency code="GBP">£</currency>
                      <value>0.99</value>
                      <formattedPrice>£0.99</formattedPrice>
                      <rrp>0.99</rrp>
                      <formattedRrp>£0.99</formattedRrp>
                      <onSale>false</onSale>
                    </price>
                    <streamingReleaseDate>2003-03-01T00:00:00</streamingReleaseDate>
                    <discNumber>1</discNumber>
                    <number>3</number>
                    <previewDate>1997-07-03T00:00:00Z</previewDate>
                  </track>
                </tracks>
              </response>
                      
/track/chart:

  get:
    description: |
            This method returns a chart of the most purchased tracks for given period. To retrieve the most recent charts as published on 7digital.com period and toDate parameter should be omitted (the default values will be used).
    queryParameters:
      period:
        enum: [test]
        required: false
        description: |
                The time period for which the chart is generated. Default value is a week.
      toDate:
        type: date
        required: false
        description: |
                The last day the chart should include data for. If not provided, by default the most recent chart for requested period will be returned.
      streamable:
        type: boolean
        required: false
        description: |
                If provided search results will contain only tracks that can/cannot be streamed
      country:
        type: string
        required: false
        description: |
                2 letter ISO country code of the country whose tracks you would like to search
      page:
        type: integer
        required: false
        description: |
                Page number of the result set. If not supplied, defaults to 1
      pageSize:
        type: integer
        required: false
        description: |
                Number of items to be returned per page. If not supplied this defaults to 10. Maximum page size is 50
      imageSize:
        type: integer
        required: false
        description: |
                The requested width of the image in pixels


    responses:
      200:
        body:
          application/xml:
            example: |
              <response status="ok" version="1.2">
                <chart>
                <page>1</page>
                <pageSize>2</pageSize>
                <totalItems>79</totalItems>
                <type>track</type>
                <fromDate>2012-02-24T00:00:00+00:00</fromDate>
                <toDate>2012-03-01T00:00:00+00:00</toDate>
                <chartItem>
                  <position>1</position>
                  <change>New</change>
                  <track id="17111839">
                  <title>Hot Right Now</title>
                      <version>Radio Edit</version>
                      <artist id="130592">
                        <name>DJ Fresh</name>
                        <appearsAs>DJ Fresh Feat. Rita Ora</appearsAs>
                        <url>http://www.7digital.com/artist/dj-fresh/?partner=1401</url>
                      </artist>
                      <duration>182</duration>
                      <explicitContent>false</explicitContent>
                      <isrc>GBCEN1102199</isrc>
                      <type>audio</type>
                      <release id="1552413">
                        <title>Hot Right Now</title>
                        <version/>
                        <type>Single</type>
                        <barcode>5051823057240</barcode>
                        <artist id="130592">
                          <name>DJ Fresh</name>
                          <appearsAs>DJ Fresh Feat. Rita Ora</appearsAs>
                          <url>http://www.7digital.com/artist/dj-fresh/?partner=1401</url>
                        </artist>
                        <url>http://www.7digital.com/artist/dj-fresh/release/hot-right-now/?partner=1401</url>
                        <image>http://artwork-cdn.7static.com/static/img/sleeveart/00/015/524/0001552413_50.jpg</image>
                        <releaseDate>2012-02-12T00:00:00Z</releaseDate>
                        <formats availableDrmFree="true">
                          <format id="17">
                            <fileFormat>MP3</fileFormat>
                            <bitRate>320</bitRate>
                            <drmFree>true</drmFree>
                          </format>
                          <format id="33">
                            <fileFormat>M4A</fileFormat>
                            <bitRate>320</bitRate>
                            <drmFree>true</drmFree>
                          </format>
                        </formats>
                      </release>
                      <url>http://www.7digital.com/artist/dj-fresh/release/hot-right-now/?partner=1401&h=01</url>
                      <price>
                        <currency code="GBP">£</currency>
                        <value>0.99</value>
                        <formattedPrice>£0.99</formattedPrice>
                        <rrp>0.99</rrp>
                        <formattedRrp>£0.99</formattedRrp>
                        <onSale>false</onSale>
                      </price>
                      <discNumber>1</discNumber>
                      <number>1</number>
                    </track>
                  </chartItem>
                  <chartItem>
                    <position>2</position>
                    <change>New</change>
                    <track id="16784782">
                      <title>Somebody That I Used To Know</title>
                      <version/>
                      <artist id="183323">
                        <name>Gotye</name>
                        <appearsAs>Gotye / Kimbra</appearsAs>
                        <url>http://www.7digital.com/artist/gotye/?partner=1401</url>
                      </artist>
                      <duration>245</duration>
                      <explicitContent>false</explicitContent>
                      <isrc>AUZS21100040</isrc>
                      <type>audio</type>
                      <release id="1522904">
                        <title>Somebody That I Used To Know</title>
                        <version/>
                        <type>Single</type>
                        <barcode>00602527927008</barcode>
                        <artist id="183323">
                          <name>Gotye</name>
                          <appearsAs>Gotye / Kimbra</appearsAs>
                          <url>http://www.7digital.com/artist/gotye/?partner=1401</url>
                        </artist>
                        <url>http://www.7digital.com/artist/gotye/release/somebody-that-i-used-to-know-2/?partner=1401</url>
                        <image>http://artwork-cdn.7static.com/static/img/sleeveart/00/015/229/0001522904_50.jpg</image>
                        <releaseDate>2012-01-01T00:00:00Z</releaseDate>
                        <formats availableDrmFree="true">
                          <format id="17">
                            <fileFormat>MP3</fileFormat>
                            <bitRate>320</bitRate>
                            <drmFree>true</drmFree>
                          </format>
                        </formats>
                      </release>
                      <url>http://www.7digital.com/artist/gotye/release/somebody-that-i-used-to-know-2/?partner=1401&h=01</url>
                      <price>
                        <currency code="GBP">£</currency>
                        <value>0.99</value>
                        <formattedPrice>£0.99</formattedPrice>
                        <rrp>0.99</rrp>
                        <formattedRrp>£0.99</formattedRrp>
                        <onSale>false</onSale>
                      </price>
                      <streamingReleaseDate>2012-01-01T00:00:00Z</streamingReleaseDate>
                      <discNumber>1</discNumber>
                      <number>1</number>
                    </track>
                  </chartItem>
                </chart>
              </response>
          application/json:
            example: |  
              {
                  "status": "ok",
                  "version": "1.2",
                  "chart": {
                      "page": 1,
                      "pageSize": 2,
                      "totalItems": 88,
                      "type": "track",
                      "fromDate": "2012-02-24T00:00:00+00:00",
                      "toDate": "2012-03-01T00:00:00+00:00",
                      "chartItem": [
                          {
                              "position": 1,
                              "change": "New",
                              "track": {
                                  "id": 17111839,
                                  "title": "Hot Right Now",
                                  "version": "Radio Edit",
                                  "artist": {
                                      "id": 130592,
                                      "name": "DJ Fresh",
                                      "appearsAs": "DJ Fresh Feat. Rita Ora",
                                      "url": "http://www.7digital.com/artist/dj-fresh/?partner=1401"
                                  },
                                  "duration": 182,
                                  "explicitContent": false,
                                  "release": {
                                      "id": 1552413,
                                      "title": "Hot Right Now",
                                      "version": "",
                                      "type": "Single",
                                      "artist": {
                                          "id": 130592,
                                          "name": "DJ Fresh",
                                          "appearsAs": "DJ Fresh Feat. Rita Ora",
                                          "url": "http://www.7digital.com/artist/dj-fresh/?partner=1401"
                                      },
                                      "url": "http://www.7digital.com/artist/dj-fresh/release/hot-right-now/?partner=1401",
                                      "image": "http://artwork-cdn.7static.com/static/img/sleeveart/00/015/524/0001552413_50.jpg",
                                      "releaseDate": "2012-02-12T00:00:00+00:00",
                                      "formatList": {
                                          "format": [
                                              {
                                                  "id": 17,
                                                  "fileFormat": "MP3",
                                                  "bitRate": 320,
                                                  "drmFree": true
                                              },
                                              {
                                                  "id": 33,
                                                  "fileFormat": "MP4",
                                                  "bitRate": 320,
                                                  "drmFree": true
                                              }
                                          ]
                                      }
                                  },
                                  "url": "http://www.7digital.com/artist/dj-fresh/release/hot-right-now/?partner=1401&h=01",
                                  "price": {
                                      "currency": {
                                          "code": "GBP",
                                          "symbol": "£"
                                      },
                                      "value": "0.99",
                                      "formattedPrice": "£0.99",
                                      "onSale": false
                                  },
                                  "streamingReleaseDate": "3013-02-20T12:03:33+00:00",
                                  "discNumber": 0
                              }
                          },
                          ...
                      ]
                  }
              }
/track/details:

  get:
    description: |
            This method returns various track details such as title, duration and price.
    queryParameters:
      trackId:
        type: integer
        required: true
        description: |
                The unique identifier of the track.
      country:
        type: string
        required: false
        description: |
                2 letter ISO country code of the country whose releases you would like to view
      imageSize:
        type: integer
        required: false
        description: |
                The requested width of the image in pixels


    responses:
      200:
        body:
          application/xml:
            example: |
              
              <response status="ok" version="1.2">
                <track id="12345">
                  <title>I Love You</title>
                  <version/>
                  <artist id="437">
                    <name>The Dandy Warhols</name>
                    <appearsAs>The Dandy Warhols</appearsAs>
                    <url>http://www.7digital.com/artist/the-dandy-warhols/?partner=1401</url>
                  </artist>
                  <duration>252</duration>
                  <explicitContent>false</explicitContent>
                  <isrc>USCA29600191</isrc>
                  <type>audio</type>
                  <release id="1302">
                    <title>...The Dandy Warhols Come Down</title>
                    <version/>
                    <type>Album</type>
                    <barcode>00724349501058</barcode>
                    <artist id="437">
                      <name>The Dandy Warhols</name>
                      <appearsAs>The Dandy Warhols</appearsAs>
                      <url>http://www.7digital.com/artist/the-dandy-warhols/?partner=1401</url>
                    </artist>
                    <url>http://www.7digital.com/artist/the-dandy-warhols/release/the-dandy-warhols-come-down/?partner=1401</url>
                    <image>http://artwork-cdn.7static.com/static/img/sleeveart/00/000/013/0000001302_50.jpg</image>
                    <releaseDate>1997-07-03T00:00:00Z</releaseDate>
                  </release>
                  <url>http://www.7digital.com/artist/the-dandy-warhols/release/the-dandy-warhols-come-down/?partner=1401&h=05</url>
                  <price>
                    <currency code="GBP">£</currency>
                    <value>0.99</value>
                    <formattedPrice>£0.99</formattedPrice>
                    <rrp>0.99</rrp>
                    <formattedRrp>£0.99</formattedRrp>
                    <onSale>false</onSale>
                  </price>
                  <streamingReleaseDate>1997-07-03T00:00:00Z</streamingReleaseDate>
                  <discNumber>1</discNumber>    
                  <formats availableDrmFree="true">
                    <format id="17">
                      <fileFormat>MP3</fileFormat>
                      <bitRate>320</bitRate>
                      <drmFree>true</drmFree>
                    </format>
                  </formats>
                  <number>5</number>
                  <previewDate>1997-07-03T00:00:00Z</previewDate>
                </track>
              </response>
/track/search:

  get:
    description: |
            ; This method will search for a track that matches the supplied search query. The following fields will be searched on: track title,; artist name, release title and track ISRC.; 
    queryParameters:
      q:
        type: string
        required: true
        description: |
                The search query string.
      streamable:
        type: boolean
        required: false
        description: |
                If provided search results will contain only tracks that can/cannot be streamed
      country:
        type: string
        required: false
        description: |
                2 letter ISO country code of the country whose tracks you would like to search
      page:
        type: integer
        required: false
        description: |
                Page number of the result set. If not supplied, defaults to 1
      pageSize:
        type: integer
        required: false
        description: |
                Number of items to be returned per page. If not supplied this defaults to 10. Maximum page size is 50
      imageSize:
        type: integer
        required: false
        description: |
                The requested width of the image in pixels


    responses:
      200:
        body:
          application/xml:
            example: |
              <response status="ok" version="1.2">
                <searchResults>
                  <page>1</page>
                  <pageSize>2</pageSize>
                  <totalItems>200</totalItems>
                  <searchResult>
                    <type>track</type>
                    <score>6.6522746</score>
                    <track id="10353559">
                      <title>Happy Birthday To You</title>
                      <version/>
                      <artist id="571009">
                        <name>Happy Birthday</name>
                        <appearsAs>Happy Birthday</appearsAs>
                        <url>http://www.7digital.com/artist/happy-birthday/?partner=1401</url>
                      </artist>
                      <duration>35</duration>
                      <explicitContent>false</explicitContent>
                      <isrc>DEHB20700052</isrc>
                      <type>audio</type>
                      <release id="940630">
                        <title>Happy Birthday!</title>
                        <version/>
                        <type>Single</type>
                        <artist id="571009">
                          <name>Happy Birthday</name>
                          <appearsAs>Happy Birthday</appearsAs>
                          <url>http://www.7digital.com/artist/happy-birthday/?partner=1401</url>
                        </artist>
                        <url>http://www.7digital.com/artist/happy-birthday/release/happy-birthday-2/?partner=1401</url>
                        <image>http://artwork-cdn.7static.com/static/img/sleeveart/00/009/406/0000940630_50.jpg</image>
                        <releaseDate>2010-09-03T00:00:00Z</releaseDate>
                        <formats availableDrmFree="true">
                          <format id="17">
                            <fileFormat>MP3</fileFormat>
                            <bitRate>320</bitRate>
                            <drmFree>true</drmFree>
                          </format>
                          <format id="33">
                            <fileFormat>M4A</fileFormat>
                            <bitRate>320</bitRate>
                            <drmFree>true</drmFree>
                          </format>
                        </formats>
                        <popularity>0</popularity>
                      </release>
                      <url>http://www.7digital.com/artist/happy-birthday/release/happy-birthday-2/?partner=1401&h=01</url>
                      <price>
                        <currency code="GBP">£</currency>
                        <value>0.99</value>
                        <formattedPrice>£0.99</formattedPrice>
                        <rrp>0.99</rrp>
                        <formattedRrp>£0.99</formattedRrp>
                        <onSale>false</onSale>
                      </price>
                      <streamingReleaseDate>2010-09-03T00:00:00Z</streamingReleaseDate>
                      <discNumber>1</discNumber>
                      <popularity>0.47</popularity>
                      <number>1</number>
                    </track>
                  </searchResult>
                  <searchResult>
                    <type>track</type>
                    <score>5.88172</score>
                    <track id="34953514">
                      <title>Happy (Because I'm Happy)</title>
                      <version/>
                      <artist id="2175937">
                        <name>Because I'm Happy</name>
                        <appearsAs>Because I'm Happy</appearsAs>
                        <url>http://www.7digital.com/artist/because-im-happy/?partner=1401</url>
                      </artist>
                      <duration>232</duration>
                      <explicitContent>false</explicitContent>
                      <isrc>DEHT41303019</isrc>
                      <type>audio</type>
                      <release id="3299188">
                        <title>Happy</title>
                        <version/>
                        <type>Single</type>
                        <artist id="2175937">
                          <name>Because I'm Happy</name>
                          <appearsAs>Because I'm Happy</appearsAs>
                          <url>http://www.7digital.com/artist/because-im-happy/?partner=1401</url>
                        </artist>
                        <url>http://www.7digital.com/artist/because-im-happy/release/happy/?partner=1401</url>
                        <image>http://artwork-cdn.7static.com/static/img/sleeveart/00/032/991/0003299188_50.jpg</image>
                        <releaseDate>2014-02-07T00:00:00Z</releaseDate>
                        <formats availableDrmFree="true">
                          <format id="17">
                            <fileFormat>MP3</fileFormat>
                            <bitRate>320</bitRate>
                            <drmFree>true</drmFree>
                          </format>
                          <format id="33">
                            <fileFormat>M4A</fileFormat>
                            <bitRate>320</bitRate>
                            <drmFree>true</drmFree>
                          </format>
                        </formats>
                        <popularity>0</popularity>
                      </release>
                      <url>http://www.7digital.com/artist/because-im-happy/release/happy/?partner=1401&h=01</url>
                      <price>
                        <currency code="GBP">£</currency>
                        <value>0.99</value>
                        <formattedPrice>£0.99</formattedPrice>
                        <rrp>0.99</rrp>
                        <formattedRrp>£0.99</formattedRrp>
                        <onSale>false</onSale>
                      </price>
                      <streamingReleaseDate>2014-02-07T00:00:00Z</streamingReleaseDate>
                      <discNumber>1</discNumber>
                      <popularity>0.42</popularity>
                      <number>1</number>
                    </track>
                  </searchResult>
                </searchResults>
              </response>
                      
          application/json:
            example: |  
              {
                  "status": "ok",
                  "version": "1.2",
                  "searchResults": {
                      "page": 1,
                      "pageSize": 2,
                      "totalItems": 86776,
                      "searchResult": [
                          {
                              "type": "track",
                              "score": 6.4365425,
                              "track": {
                                  "id": 10353559,
                                  "title": "Happy Birthday To You",
                                  "version": "",
                                  "artist": {
                                      "id": "571009",
                                      "name": "Happy Birthday",
                                      "appearsAs": "Happy Birthday",
                                      "url": "http://www.7digital.com/artist/happy-birthday/?partner=1401"
                                  },
                                  "duration": 35,
                                  "explicitContent": false,
                                  "isrc": "DEHB20700052",
                                  "type": "audio",
                                  "release": {
                                      "id": 940630,
                                      "title": "Happy Birthday!",
                                      "version": "",
                                      "type": "Single",
                                      "artist": {
                                          "id": "571009",
                                          "name": "Happy Birthday",
                                          "appearsAs": "Happy Birthday",
                                          "url": "http://www.7digital.com/artist/happy-birthday/?partner=1401"
                                      },
                                      "url": "http://www.7digital.com/artist/happy-birthday/release/happy-birthday-2/?partner=1401",
                                      "image": "http://artwork-cdn.7static.com/static/img/sleeveart/00/009/406/0000940630_50.jpg",
                                      "releaseDate": "2010-09-03T00:00:00+01:00",
                                      "formats": {
                                          "availableDrmFree": true,
                                          "format": [
                                              {
                                                  "id": 17,
                                                  "fileFormat": "MP3",
                                                  "bitRate": 320,
                                                  "drmFree": true,
                                                  "priority": 11
                                              },
                                              {
                                                  "id": 33,
                                                  "fileFormat": "MP4",
                                                  "bitRate": 320,
                                                  "drmFree": true,
                                                  "priority": 21
                                              }
                                          ]
                                      },
                                      "popularity": 0
                                  },
                                  "url": "http://www.7digital.com/artist/happy-birthday/release/happy-birthday-2/?partner=1401&h=01",
                                  "price": {
                                      "currency": {
                                          "code": "GBP",
                                          "symbol": "£"
                                      },
                                      "value": "0.99",
                                      "formattedPrice": "£0.99",
                                      "onSale": false
                                  },
                                  "streamingReleaseDate": "2010-09-03T00:00:00+01:00"
                              }
                          },
                          ...
                      ]
                  }
              }
/tag:

  get:
    description: |
            This method returns a list of all available tags.

    responses:
      200:
        body:
          application/xml:
            example: |
              <response status="ok" version="1.2" xsi:noNamespaceSchemaLocation="http://api.7digital.com/1.2/static/7digitalAPI.xsd">
                <tags>
                  <page>1</page>
                  <pageSize>10</pageSize>
                  <totalItems>471</totalItems>
                  <tag id="pop">
                    <text>pop</text>
                    <url>http://www.7digital.com/tags/pop?partner=1401</url>
                    <count>328620</count>
                  </tag>
                  <tag id="electronic">
                    <text>rock</text>
                    <url>http://www.7digital.com/tags/electronic?partner=1401</url>
                    <count>electronic</count>
                  </tag>        
                  ...
                 </tags>
              </response>
/artist/tags:

  get:
    description: |
            This method returns all tags associated with the given artist.
    queryParameters:
      artistId:
        type: integer
        required: true
        description: |
                The unique identifier of the artist.


    responses:
      200:
        body:
          application/xml:
            example: |
              
              	
              <response status="ok" version="1.2" xsi:noNamespaceSchemaLocation="http://api.7digital.com/1.2/static/7digitalAPI.xsd">
              <tags>
              <page>1</page>
              <pageSize>10</pageSize>
              <totalItems>4</totalItems>
              <tag id="rock">
              <text>rock</text>
              <url>http://www.7digital.com/tags/rock?partner=1401</url>
              </tag>
              <tag id="pop">
              <text>pop</text>
              <url>http://www.7digital.com/tags/pop?partner=1401</url>
              </tag>
              <tag id="alternative">
              <text>alternative</text>
              <url>
              http://www.7digital.com/tags/alternative?partner=1401
              </url>
              </tag>
              <tag id="2000s">
              <text>2000s</text>
              <url>http://www.7digital.com/tags/2000s?partner=1401</url>
              </tag>
              </tags>
              </response>
              
          application/json:
            example: |  
              {
                "status": "ok",
                "version": "1.2",
                "tags": {
                  "page": 1,
                  "pageSize": 10,
                  "totalItems": 4,
                  "tag": [
                    {
                      "id": "rock",
                      "text": "rock",
                      "url": "http://www.7digital.com/tags/rock?partner=1401"
                    },
                    {
                      "id": "pop",
                      "text": "pop",
                      "url": "http://www.7digital.com/tags/pop?partner=1401"
                    },
                    {
                      "id": "alternative",
                      "text": "alternative",
                      "url": "http://www.7digital.com/tags/alternative?partner=1401"
                    },
                    {
                      "id": "2000s",
                      "text": "2000s",
                      "url": "http://www.7digital.com/tags/2000s?partner=1401"
                    }
                  ]
                }
              }
              
/artist/bytag/top:

  get:
    description: |
            This method returns a list of most popular artists tagged by a given tag or list of tags. If multiple tags are supplied only artists matching all of them will be returned.
    queryParameters:
      tags:
        type: string
        required: true
        description: |
                A single or comma separated list of tags.
      streamable:
        type: boolean
        required: false
        description: |
                If provided search results will contain only artists that can/cannot be streamed
      country:
        type: string
        required: false
        description: |
                ; 2 letter ISO country code of the country whose artists you would like to search; 
      page:
        type: integer
        required: false
        description: |
                Page number of the result set. If not supplied, defaults to 1
      pageSize:
        type: integer
        required: false
        description: |
                Number of items to be returned per page. If not supplied this defaults to 10. Maximum page size is 50
      imageSize:
        type: integer
        required: false
        description: |
                ; The requested width of the image in pixels; 


    responses:
      200:
        body:
          application/xml:
            example: |
              <response status="ok" version="1.2">
              	<taggedResults>
              		<page>1</page>
              		<pageSize>2</pageSize>
              		<totalItems>439</totalItems>
              		<type>artist</type>
              		<taggedItem>
              			<artist id="20">
              				<name>Coldplay</name>
              				<sortName>Coldplay</sortName>
              				<url>http://www.7digital.com/artist/coldplay/?partner=1401</url>
              				<image>http://artwork-cdn.7static.com/static/img/artistimages/00/000/000/0000000020_150.jpg</image>
              				<popularity>0.81</popularity>
              			</artist>
              		</taggedItem>
              		<taggedItem>
              			<artist id="222">
              				<name>Maroon 5</name>
              				<sortName>Maroon 5</sortName>
              				<url>http://www.7digital.com/artist/maroon-5/?partner=1401</url>
              				<image>http://artwork-cdn.7static.com/static/img/artistimages/00/000/002/0000000222_150.jpg</image>
              				<popularity>0.81</popularity>
              			</artist>
              		</taggedItem>
              	</taggedResults>
              </response>
                      
          application/json:
            example: |  
              {
                  "status": "ok",
                  "version": "1.2",
                  "taggedResults": {
                      "page": 1,
                      "pageSize": 2,
                      "totalItems": 438,
                      "type": "artist",
                      "taggedItem": [
                          {
                              "artist": {
                                  "id": 222,
                                  "name": "Maroon 5",
                                  "sortName": "Maroon 5",
                                  "url": "http://www.7digital.com/artist/maroon-5/?partner=1401",
                                  "image": "http://artwork-cdn.7static.com/static/img/artistimages/00/000/002/0000000222_150.jpg",
                                  "popularity": 0.91
                              }
                          },
                         ...
                      ]
                  }
              }
/release/tags:

  get:
[...]
