[{"owner":"datagateway","extension":{"name":"Paypal Connector","id":"3b899b8c-02b1-4371-8640-f61600b46138","configModel":"default","version":9554},"environmentType":"Production","created":"2016-04-27T20:04:14","name":"PayPal Test","id":"1fe6291d-b876-4f7e-866c-01d4a9775e40","updated":"2016-05-03T19:58:35","applications":[]},{"owner":"datagateway","extension":{"name":"QuickBooks Connector","id":"3b899b8c-02b1-4371-8640-f61600b46410","configModel":"default","version":9554},"environmentType":"Sandbox","created":"2016-04-28T20:38:42","name":"QuickBooks","id":"286bbed3-acb1-4216-9f8f-c61bf635e955","updated":"2016-05-03T17:15:06","applications":[]}]