{
  "id": "b8904abc-98a5-4ad9-a612-4ccd3c14c750",
  "name": "New configuration",
  "environmentType": "Sandbox",
  "owner": "datagateway",
  "created": "2016-05-03T19:59:57",
  "updated": "2016-05-03T19:59:57",
  "extension": {
    "name": "QuickBooks Connector",
    "version": 9558,
    "id": "3b899b8c-02b1-4371-8640-f61600b46410",
    "configModel": "default"
  },
  "properties": {
    
  },
  "applications": [
    
  ]
}