[
  {
    "id" : "f70793d0-425b-4d1e-8759-302a6dde0ed9",
    "name" : "Development",
    "organizationId" : "c2c9a7b3-10b7-474c-8737-94b4eb5457d6",
    "production" : false
  },
  {
    "id" : "42744583-ba58-474a-b7c2-1627a3e9c9e5",
    "name" : "Stg",
    "organizationId" : "c2c9a7b3-10b7-474c-8737-94b4eb5457d6",
    "production" : false
  },
  {
    "id" : "cddc8f7d-109e-4e32-a943-20ac413731d1",
    "name" : "Production",
    "organizationId" : "c2c9a7b3-10b7-474c-8737-94b4eb5457d6",
    "production" : true
  }
]